# WordPress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
wp-content/cache/supercache/

# WordPress theme and plugin specific
*.log
.htaccess
sitemap.xml
sitemap.xml.gz

# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~

# Node modules (if any)
node_modules/

# Composer
/vendor/

check-blocks.php
check-templates.php
debug-query.php
flush-template-cache.php
