@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/ProximaNova-Extrabld.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNova-Extrabld.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/ProximaNova-LightIt.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNova-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/ProximaNova-RegularIt.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNova-RegularIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/ProximaNova-SemiboldIt.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNova-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/ProximaNova-RegularIt.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNova-RegularIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

