$brand-primary: #149fc0 !default;
$brand-tertiary-bg: #121F33 !default;
$brand-yellow: #FDCB2C !default;
$brand-primary-bg: #073C64 !default;
$brand-secondary-bg: #1A2C43 !default;

$ugm-primary: var(--wp--preset--color--ugm-primary) !default;
$ugm-secondary: var(--wp--preset--color--ugm-secondary) !default;
$ugm-tertiary: var(--wp--preset--color--ugm-tertiary) !default;
$ugm-primary-bg: var(--wp--preset--color--ugm-primary-bg) !default;
$ugm-secondary-bg: var(--wp--preset--color--ugm-secondary-bg) !default;