.tpb-row {
	margin-bottom: 0;
	@media (max-width: $screen-sm-max) {
		.tpb.col-md-11,
		.tpb.col-md-10,
		.tpb.col-md-9,
		.tpb.col-md-8,
		.tpb.col-md-7,
		.tpb.col-md-6,
		.tpb.col-md-5,
		.tpb.col-md-4,
		.tpb.col-md-3,
		.tpb.col-md-2 {
			margin-bottom: 30px;
			// &:last-child {margin-bottom: 0;}
		}
	}
	.tpb {
		margin-bottom: 30px;
	}
}