// ------------------------------------
// ------------------------------------
// Tonjoo Property Variables
// ------------------------------------
// ------------------------------------


// Color brand
// ------------------------------------
$brand-primary: 	#43D3B1 !default;
$brand-secondary: 	#293848 !default;
$brand-tertiary: 	darken($brand-secondary, 10%);
$brand-yellow: 		#FDAB26 !default;
$brand-red: 		#D32C31 !default;
$brand-orange: 		#FA5436 !default;
$brand-green: 		#92CA40 !default;
