<!-- wp:template-part {"slug":"header","tagName":"header","theme":"ugm-faculty"} /-->

<!-- wp:group {"tagName":"main","className":"site-main ugm-single ugm-single--agenda-template","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main ugm-single ugm-single--agenda-template">
	<!-- wp:group {"className":"ugm-article__container","layout":{"type":"constrained"}} -->
	<div class="wp-block-group ugm-article__container">
		<!-- wp:post-title {"level":1,"className":"ugm-article__title"} /-->

		<!-- wp:group {"className":"ugm-article__meta","layout":{"type":"flex","flexWrap":"wrap"}} -->
		<div class="wp-block-group ugm-article__meta">
			<!-- wp:post-date /-->
			<!-- wp:post-terms {"term":"category"} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:post-featured-image {"className":"ugm-article__featured-image"} /-->

		<!-- wp:post-content {"className":"ugm-article__content","layout":{"type":"default"}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","theme":"ugm-faculty"} /-->
