<!-- wp:ugm/hero-section {"imageId":0,"imageUrl":"","title":"UNIVERSITAS\nGADJAH MADA","description":"Universitas Gadjah Mada merupakan universitas negeri terkemuka di Indonesia yang unggul dalam bidang pendidikan, penelitian, dan pengabdian kepada masyarakat, serta berperan aktif dalam menghasilkan lulusan berkualitas dan berdaya saing global."} /-->
<!-- wp:ugm/latest-news {"title":"Berita Terbaru","categorySlug":""} /-->
<!-- wp:ugm/academic-news {"title":"Berita Akademik","categorySlug":"pendidikan"} /-->
<!-- wp:ugm/profile-section {"title":"Profile","categorySlug":"profile"} /-->
<!-- wp:ugm/achievement-section {"title":"Prestasi","categorySlug":"prestasi"} /-->
<!-- wp:ugm/featured-category-column {"title":"Seputar Kampus","categorySlug":"seputar-kampus"} /-->
<!-- wp:ugm/featured-category-column {"title":"Kabar Fakultas","categorySlug":"kabar-fakultas"} /-->
<!-- wp:ugm/featured-category-column {"title":"Kerjasama","categorySlug":"kerjasama"} /-->
<!-- wp:ugm/category-section {"title":"Kategori"} /-->
<!-- wp:ugm/faculty-section {"overline":"Seputar UGM","title":"Fakultas dan Sekolah","categorySlug":"fakultas-dan-sekolah"} /-->
<!-- wp:ugm/agenda-section {"title":"Agenda Kegiatan","categorySlug":"agenda"} /-->
<!-- wp:ugm/magazine-section /-->
<!-- wp:ugm/video-section {"title":"Video","categorySlug":"video"} /-->
<!-- wp:ugm/template-links {"title":"Tautan Layanan","items":[]} /-->
