<!-- wp:ugm/hero-section {"imageId":0,"imageUrl":"","title":"UNIVERSITAS\nGADJAH MADA","description":"Universitas Gadjah Mada merupakan universitas negeri terkemuka di Indonesia yang unggul dalam bidang pendidikan, penelitian, dan pengabdian kepada masyarakat, serta berperan aktif dalam menghasilkan lulusan berkualitas dan berdaya saing global."} /-->
<!-- wp:ugm/latest-news {"title":"Berita Terbaru","categorySlug":""} /-->
<!-- wp:ugm/academic-news {"title":"Informasi Akademik","categorySlug":"pendidikan"} /-->
<!-- wp:ugm/profile-section {"title":"Informasi Umum","categorySlug":"profile"} /-->
<!-- wp:ugm/achievement-section {"title":"Pencapaian","categorySlug":"prestasi"} /-->
<!-- wp:ugm/featured-category-column {"title":"Seputar Kampus","categorySlug":"seputar-kampus"} /-->
<!-- wp:ugm/featured-category-column {"title":"Kabar Fakultas","categorySlug":"kabar-fakultas"} /-->
<!-- wp:ugm/featured-category-column {"title":"Kerjasama","categorySlug":"kerjasama"} /-->
<!-- wp:ugm/category-section {"title":"Kategori"} /-->
<!-- wp:ugm/faculty-list {"overline":"Seputar UGM","title":"Fakultas dan Sekolah","items":[]} /-->
<!-- wp:ugm/agenda-only {"title":"Agenda Kegiatan","categorySlug":"agenda","visibility":"desktop"} /-->
<!-- wp:ugm/facility-only {"title":"Fasilitas Mahasiswa","categorySlug":"fasilitas-mahasiswa","visibility":"desktop"} /-->
<!-- wp:ugm/magazine-section /-->
<!-- wp:ugm/video-section {"title":"Video","categorySlug":"video","visibility":"desktop"} /-->
<!-- wp:ugm/template-links {"title":"Tautan Layanan","items":[],"visibility":"desktop"} /-->
