/* circular-std-regular - latin */
@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/circular-std/CircularStd-Book.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/circular-std/CircularStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/circular-std/CircularStd-Book.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/circular-std/CircularStd-Book.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/circular-std/CircularStd-Book.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/circular-std/CircularStd-Book.svg#CircularStd') format('svg'); /* Legacy iOS */
}

/* circular-std-600 - latin */
@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../../fonts/circular-std/CircularStd-Medium.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/circular-std/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/circular-std/CircularStd-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/circular-std/CircularStd-Medium.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/circular-std/CircularStd-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/circular-std/CircularStd-Medium.svg#CircularStd') format('svg'); /* Legacy iOS */
}

/* circular-std-700 - latin */
@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/circular-std/CircularStd-Bold.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/circular-std/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/circular-std/CircularStd-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/circular-std/CircularStd-Bold.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/circular-std/CircularStd-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/circular-std/CircularStd-Bold.svg#CircularStd') format('svg'); /* Legacy iOS */
}

/* circular-std-italic - latin */
@font-face {
  font-family: 'Circular Std';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/circular-std/CircularStd-BookItalic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/circular-std/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/circular-std/CircularStd-BookItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/circular-std/CircularStd-BookItalic.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/circular-std/CircularStd-BookItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/circular-std/CircularStd-BookItalic.svg#CircularStd') format('svg'); /* Legacy iOS */
}

/* circular-std-700italic - latin */
@font-face {
  font-family: 'Circular Std';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/circular-std/CircularStd-BoldItalic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/circular-std/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/circular-std/CircularStd-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/circular-std/CircularStd-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/circular-std/CircularStd-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/circular-std/CircularStd-BoldItalic.svg#CircularStd') format('svg'); /* Legacy iOS */
}

/* circular-std-600italic - latin */
@font-face {
  font-family: 'Circular Std';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('../../fonts/circular-std/CircularStd-MediumItalic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/circular-std/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/circular-std/CircularStd-MediumItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/circular-std/CircularStd-MediumItalic.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/circular-std/CircularStd-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/circular-std/CircularStd-MediumItalic.svg#CircularStd') format('svg'); /* Legacy iOS */
}
